In [ ]:
#Q1
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
%matplotlib inline
warnings.filterwarnings(action='ignore')

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
df = pd.read_csv('fifa.csv')
df.head()

In [ ]:
data_info = pd.read_csv('fifa_ variable_information.csv')
data_info.head()

In [ ]:
#Q2
df[['Photo','Flag','Club Logo','Body Type','Jersey Number']].head(2)

In [ ]:
df.drop(['Photo','Flag','Club Logo','Body Type','Jersey Number'],axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
#Q3
df[['Value','Wage','Release Clause']].sample(4)

In [ ]:
def convert(entry):
    
    if entry==np.nan:
        new_entry=float(0)
    else:
        entry=entry.replace('â‚¬','')
        if entry[-1]=='K':
            new_entry=float(entry.replace('K',''))*1000
        else:
            new_entry=float(entry.replace('M',''))*1000000
    return new_entry

In [ ]:
df['Value']= df['Value'].apply(lambda x : convert(x))

df['Wage'] = df['Wage'].apply(lambda x: convert(x))
 
df['Release Clause'] = df['Release Clause'].fillna('0').apply(lambda x: convert(x)

In [ ]:
df[['Value','Wage','Release Clause']].sample(4)

In [ ]:
#Q4
df['Joined'].head()

In [ ]:
df['Joined'] = df['Joined'].str.split().str.get(2).fillna(0).astype(int)

In [ ]:
df['Joined'] = df['Joined'].str.split().str.get(2).fillna(0).astype(int)

In [ ]:
#Q5
df['Contract Valid Until'].unique()

In [ ]:
df['Contract Valid Until'] = pd.to_datetime(df['Contract Valid Until'])

In [ ]:
df['Contract Valid Until'].sample(5)

In [ ]:
#Q6
df['Height'].head()

In [ ]:
def height_convert(x):
    if x is not None:
        return float(str(x).replace("'",'.'))

In [ ]:
df['Height'] = df['Height'].apply(height_convert)

In [ ]:
df['Height'].head()

In [ ]:
#Q7
df['Weight'].head()

In [ ]:
df['Weight'] = df['Weight'].fillna('0').apply(lambda x: x.replace('lbs','')).astype(float)

In [ ]:
df['Weight'].head()

In [ ]:
#Q8
df.isnull().sum()/len(df)*100

In [ ]:
df.drop('Loaned From',axis=1,inplace=True)

In [ ]:
missing_values = df.isnull().sum()/len(df)

index = [i  for i in missing_values[missing_values>0].index]

numerical_columns = [i     for i in index      if i in df.columns and  df[i].dtype!=object]
categorical_columns = [i     for i in index      if i in df.columns and  df[i].dtype==object]

for columns in numerical_columns:
    df[columns]=df[columns].fillna(df[columns].median())
    
for columns in categorical_columns:
    df[columns]=df[columns].fillna(df[columns].mode()[0])

In [ ]:
df.isnull().sum()

In [ ]:
#Q9
sns.distplot(df['Overall'])
plt.show()

In [ ]:
#Q10
top20_players = df.groupby('Name')['Overall'].max().sort_values(ascending=False).head(20)
top20_players

In [ ]:
#Q11
Top20_df = df[ (df['Name'].isin(top20_players.index)) & (df['Overall'].isin(top20_players.values)) ]
Top20_df.head()

In [ ]:
#Q12
Top20_df[['Age','Wage']].mean()

In [ ]:
#Q!3
Top20_df[Top20_df['Wage']==Top20_df['Wage'].max()][['Name','Wage']]

In [ ]:
#Q14
df_14 = df[['Name','Club','Wage','Overall']]
df_14.head(2)

In [ ]:
df_14.groupby('Club')['Overall'].mean()

In [ ]:
df_14.groupby('Club')['Overall'].mean().sort_values(ascending=False).head(10).plot(kind='bar')
plt.show()

In [ ]:
#Q15
plt.figure(figsize=(18,5))
sns.boxplot(df['Age'],df['Potential'])
plt.show()

In [ ]:
#Q16
imp_features = df[['Potential','Overall','Value','International Reputation','Release Clause','Wage', ]]

sns.heatmap(imp_features.corr(),annot=True,cmap='viridis')
plt.show()

In [ ]:
sns.pairplot(imp_features)
plt.show()

In [ ]:
#Q17
df['Position'].value_counts().sort_values(ascending=False).head(1)

In [ ]:
df['Position'].value_counts().sort_values(ascending=True).head(1)

In [ ]:
plt.figure(figsize=(18,5))
sns.histplot(df['Position'])
plt.show()

In [ ]:
#Q18
df[(df['Club']=='Juventus') & (df['Wage']>200000)]

In [ ]:
#Q19
top5 = df.groupby(['Position']).apply(lambda x : x.sort_values('Overall',ascending=False).head(5))
top5.head(10)

In [ ]:
#Q20
top5['Wage'].groupby('Position').mean()